<aside class="feedback-top">
	<form action="">
		<input type="text" name="feedback" value="" placeholder="How would you have better enjoyed your visit?" required>
		<button type="submit"><i class="fa fa-check"></i></button>
		<button><i class="fa fa-close"></i></button>
	</form>
</aside>
<!-- <div class="feedbackBarStub" style="display: none">
    <a class="show-notify" onclick="woahbar_show();"><i class="fa fa-arrow-up"></a>
</div>
 -->

<!-- <div class="feedbackBar" style="display:none">
       How would you have better enjoyed your visit?<a href="" target="_blank">You can tell me.</a>
    </span>
    <a class="close-notify" onclick="woahbar_hide();"><i class="fa fa-arrow-up"></i>
</a>
</div>
 -->