<div class="nav">
         <ul>
         	<li style="display: inline"> <a href="http://feeds.feedburner.com/vincentbarr"><i class="fa fa-rss" style="opacity: .5"></i></a></li>
         	<li style="display: inline"> <a href="https://twitter.com/vincentbarr"><i class="fa fa-twitter" style="opacity: .6"></i></a></li>
         	<li style="display: inline"> <a href="http://www.linkedin.com/in/vincentbarr"><i class="fa fa-linkedin" style="opacity: .6"></i></a></li>
          <li style="display: inline"> <a href="https://github.com/vincentbarr"><i class="fa fa-github" style="opacity: .6"></i></a></li>
  
         </ul>
</div>