*,
*:before,
*:after {
   box-sizing: border-box;
}

.newsletter-form {
	width: 100%;
	max-width: 12rem;
	font-size: 13px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 15px;
}

.newsletter-form .input-group {
	display: table; 
	border-collapse: separate;
}

input {
	margin: 0;
	border: 1px solid #cecfd5;
	transition: all 0.15s linear;
	color: inherit;
	font: inherit;
	padding: 4px 10px;
	width: 100%;
}

.newsletter-form .input-control {
	display: table-cell;
	vertical-align: top;
	border-radius: 4px 0px 0px 4px;
	border-right: 0;
	width: 100%;
}

.input-group-btn {
	display: table-cell;
	vertical-align: top;
	white-space: nowrap;
	width:1%; 
}

.newsletter-form .input-control, 
.newsletter-form .input-group-btn {
	display: table-cell;
	vertical-align: top;
}

.newsletter-form .input-group-btn {
	white-space: nowrap;
	width: 1%;
	border: 1px solid #cecfd5;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn {
	border: 0;
	text-align: center;
	padding: 6px 10px;
	border-radius: 4px;
	display: inline-block;
	padding-bottom:2px;
}

.btn-alt {
	color: red;
	background: white;
}

a, .btn, input, img a:before {
	transition: all .15s linear;
}

.btn, .btn:focus, .btn:active, .btn:hover {
	color: red;
}

.input-group-btn:hover{
	border: 1px solid pink;
}

a:hover {
	color: orangered;
}

button {
	cursor: pointer;
	overflow: visible;
	text-transform: none;
	font: inherit;
}

button, input {
	color: inherit;
	font: inherit;
}

.newsletter-form .input-group-btn button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}