<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include google_tagmanager.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
          
          {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        
        </h3>
      </header>
      

      <main>
        {{ content }}

        {% include comments.html %}
      </main>
      
      <footer class="footer">
        <small>
          Like other human beings, I'm a human being.
        </small>
      </footer>
    </div>

  </body>
</html>